<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showtime</title>
    <link rel="stylesheet" href="/css/showtime.css">
</head>
<body>
<style>
    .form-popup {
        display: none;
        position: fixed;
        bottom: 200px;
        right: 600px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }
</style>
    <ul>
        <li><a href="/film">Film</a></li>
        <li><a class="active" href="/showtime">Showtime</a></li>
    </ul>


    <div class="form-popup" id="myForm">
        <form action="/showtime/post" method="post">
            <label for="film_id">film:</label>
            <input type="number" name="film_id" id="film_id"><br>
            <label for="cinema_id">cinema:</label>
            <input type="number" name="cinema_id" id="cinema_id"><br>
            <label for="time">time:</label>
            <input type="datetime-local" name="time" id="time"><br>
            <label for="price">price:</label>
            <input type="number" name="price" id="price"><br>
            <input type="submit" value="enter">
        </form>
    </div>
    <h2>List showtimes</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Film</th>
            <th>Cinema</th>
            <th>Time</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <% for (var i=0; i<showtimes.length; i++) { %>
        <tr>
            <td><%= showtimes[i].showtime_id %></td>
            <td><%= showtimes[i].film_id %></td>
            <td><%= showtimes[i].cinema_id %></td>
            <td><%= showtimes[i].time %></td>
            <td><%= showtimes[i].price %></td>
            <td>
                <div class="edit" id="editdb">
                    <button class="edit" onclick="openForm()">Edit</button>
                </div>
                <form action="/showtime/delete/<%= showtimes[i].showtime_id %>" method="post">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
    </script>
</body>
</html>